body {
    background-color: #e9e5e2;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 12px;
}

.column {
    float: left;
    width: 40%;
}

.flex-container {
    display: flex;
}

.group-params {
    background-color: #f5f2f0;
    padding: 4%;
}

#title {
    position: fixed;
    color: #FFFFFF;
    background-color: #2A3274;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#parameters {
    border: 2px solid black;
    padding: 3%;
    padding-top: 1%;
    width: 30%;
    margin-top: 5%;
    margin-left: 10%;
}

#canvas-container {
    margin-top: 5%;
    margin-left: 50%;
    position:fixed;
}

p {
    margin-block-start: 4px;
    margin-block-end: 4px;
}

input[type="range"] {
    width: 100%;
    height: 2px;
    -webkit-appearance:none;
    background-color: black;
    outline: none;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

select {
    position: relative;
    font-family: Lucida Console, monospace;
    background: #e9e5e2;
    #width: 30%;
    padding: 5px;
    outline: none;
}

select:focus, select:hover {
    outline: none;
    border: 1px solid;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
